<div class = "container">
	<div class = "row">
		<div class = "col-xs-3">
			<%= render 'users/usercommon', user: @user %>
			<%= render 'books/bookcommon', book: @book %>
		</div>

		<div class = "col-xs-9">

<% if @model == 'user' %>
  <!-- <h3>Users search for '<%= @content %>'</h3>-->
  <%= render 'users/index', users: @records %>

  <% else %>
  <!-- <h3>Books search for '<%= @content %>'</h3> -->
  <%= render 'books/index', books: @records %>

  <% end %>
